body {
  margin: 0pt 1em;
  padding: 0pt;
}

h1.chapter-title {
  margin-top:   2em;
  text-align: right;
}

h1.chapter-title .chapter-number {
  color:     #999999;
  font-weight: bold; 
  display: block;
  font-size: 90%;
}

h1.chapter-title .chapter-name {
  display: block;
  color:     #555555;
  background: url(../images/h1-underline.gif) repeat-x bottom;
  font-size: 120%;
  font-weight: bold; 
  margin-bottom: 1ex;
}

h2 {
 font-size: 140%;
 font-weight:  bold;
 text-align: left !important;
 color:     #445;
 margin-top:  1em;
 margin-bottom: 1ex !important;
}

h3 {
 font-size: 110%;
 font-weight:  bold;
 color:     #225555;
 clear:  both;
 margin-top:  1em;
 margin-bottom: 1ex;
}

p {
    line-height: 130%;
    margin-top: 0pt;
}





/* span styles */

.titlepage 
{ 
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.tp-title {
  display: block;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:        #777777;
  border-width: 3px;
  border-style: solid none;
  border-color: #888888;	      
}

.tp-subtitle {
  display: block;
  margin-top: 10px;
  color:        #777777;
}

.tp-authors 
{ 
  display: block;
  color: #777;
  margin-top: 20px;
}