body {
  font-family:  "Trebuchet MS", Verdana, Arial, sans-serif; 
  margin: 0pt 1em;
  padding: 0pt;
}

h1 {
  margin-top:   2em;
  text-align: right;
  display: block;
  color:     #555555;
  background: url(../images/h1-underline.gif) repeat-x bottom;
  font-size: 160%;
  font-weight: bold; 
  margin-bottom: 1ex;
}

h2 {
 font-size: 140%;
 font-weight:  bold;
 text-align: center !important;
 color:     #445;
 margin-top:  2em;
 margin-bottom: 2ex !important;
}

h3 {
 font-size: 110%;
 font-weight:  bold;
 color:     #225555;
 clear:  both;
 margin-top:  1em;
 margin-bottom: 1ex;
}

p {
    line-height: 130%;
    margin-top: 0pt;
}

.author {
  margin-top:  1em;
  text-align:  right
}

ul {
	list-style:disc;
	font-size: 90%;
}

ol {
	list-style-type: decimal;
	font-size: 80%;
}

ul li, ol li { 
	margin-left: 2em;
	margin-bottom: 0.3em;
}

sup a {
	color: #000;
	text-decoration: none;
}

sup a:hover {
	color: #ffaa00;
}

sup {
	font-size: 0.666em;
	vertical-align: 0.5em;
}

blockquote{
	padding: 0 1.571em;
	border-top: 0.071em dotted #999990;
	border-bottom: 0.071em dotted #999990;
	font-style: italic;
	font-size: 85%;
}

#title {
	margin-left: 1em; 
	margin-bottom: 1.3em;
	}
#title h1 { margin-bottom: 0.1em;}

#license p, #license ul {
	font-size: 80%;
}


.footnotes ol li p {
	display: inline;
}

.footnotes ol li a {
	color: #000;
}

.footnotes ol li a:hover {
	color: #ffaa00;
}



